<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css">
    <script type="text/javascript">

    </script>
</head>
<body>
<a id="btn" href="/toView?url=addmall_sku" class="easyui-linkbutton" data-options="iconCls:'icon-add'" target="_blank">新增商品</a>
</body>
</html>