<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <!--引入easyui的样式 -->
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css" type="text/css">
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css" type="text/css">
    <script type="text/javascript" src="/js/easyui1.5/jquery.easyui.min.js"></script>
</head>
<body>

<div id="toolbar">
    <a href="pro/toaddpro.do">添加商品</a>
</div>
<table id="myTable"></table>

<!-- 新增页面弹窗 -->
<div id="dialog_add" class="easyui-dialog" title="My Dialog" style="width:800px;height:300px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true,
        buttons:[{
				text:'关闭',
				iconCls:'icon-cancel',
				handler:function(){
				guanbi();
				}
			}]">

    <form id="addformid">
        <div id="divId">

        </div>
    </form>

</div>


</body>
<script type="text/javascript" th:inline="none">
    //页面加载事件
    $(function () {
        initMyTable();
        $("#dialog_add").dialog('close');
    })

    //显示数据
    function initMyTable() {
        $('#myTable').datagrid({
            url: '/pro/getPageList',
            fit: true,//适应窗口大小
            pagination: true,//开启分页
            pageNumber: 1,//第几页
            pageSize: 3,//每页多少条
            pageList: [1, 2, 3, 4, 5],//分页下拉框
            loadMsg: '数据加载中...',
            toolbar: '#toolbar',//这个东西是使分页的东西不被挤掉
            checkOnSelect: false,//这个是在点击一行的时候不会选中前面的复选框
            columns: [[
                {field: 'id', title: 'ID', align: 'center'},//checkbox:true开启复选框
                {field: 'shp_mch', title: '商品名称', align: 'center'},
                {
                    field: 'shp_tp', title: '商品图片', align: 'center', formatter: function (value,row) {
                        return '<a href="javascript:void(0)" onclick="queryimg('+row.id+')"><img width="100px" height="70px" src="/upload/' + value + '"/></a>'
                    }
                },
                {field: 'flmch1', title: '分类编号1', align: 'center'},
                {field: 'flmch2', title: '分类编号2', align: 'center'},
                {field: 'ppmch', title: '品牌ID', align: 'center'},
                {field: 'chjshj', title: '创建时间', align: 'center'},
                {field: 'shp_msh', title: '商品描述', align: 'center'}
            ]]
        })
    }

    function queryimg(id) {
        $("#dialog_add").dialog('open');
        $.ajax({
            url: "/pro/queryProduct",
            type: "POST",
            data:{id:id},
            success: function (result) {
                var cont="";
               $.each(result,function (index,obj) {
                   cont+='<img width="50"  src="/upload/'+obj.url+'"><br/>';
               })

                $("#divId").html(cont);
            },
            error: function () {
                alert("失败了");
            }
        });


    }

    function guanbi() {
        $("#dialog_add").dialog('close');
    }


</script>
</html>